<mat-card>
  <mat-card-header>
    <mat-card-title>Top Heroes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex;">
      <div *ngFor="let hero of heroes" style="display:flex; align-items: stretch; gap:1rem;">
        <mat-card >
          <mat-card-header>
            <div mat-card-avatar>
              <img src="{{hero.logo}}" width="50" alt="">
            </div>
            <mat-card-title>{{hero.name}}</mat-card-title>
            
          </mat-card-header>
          <img mat-card-image src="{{hero.image}}" width="250">
          <mat-card-content>
            <p>
              {{hero.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail/{{hero.id}}">
              <button mat-raesed-button color="primary">Modificar</button>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>    
  </mat-card-content>
</mat-card>



